/* Constructor */
* {
  box-sizing: border-box;
}

:root {
  --blue: hsl(210, 100%, 50%);
  --dark-blue: hsl(210, 100%, 25%);
  --shadow-3d: 0 1px 0 var(--dark-blue), 0 2px 0 var(--dark-blue), 0 3px 0 var(--dark-blue), 0 4px 0 var(--dark-blue), 0 8px 4px hsla(0, 0%, 0%, .5);
}


/* General */
html {
  height: 100%;
}

body {
  font-family: 'Fredoka One', cursive;
  color: var(--blue);
  height: 100%;
  position: relative;
  margin: 0;
}


/* Box */
.box {
  background-color: hsl(0, 0%, 20%);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition-duration: 1s;
}

.tape-horizontal {
  background-color: var(--blue);
  width: 100%;
  height: 64px;
  border-top: 8px solid white;
  border-bottom: 8px solid white;
  position: absolute;
  top: 192px;
}

.tape-vertical {
  background-color: var(--blue);
  width: 64px;
  height: 100%;
  border-left: 8px solid white;
  border-right: 8px solid white;
  position: absolute;
  left: 192px;
}

.ribbon {
  position: absolute;
  width: 160px;
  top: 224px;
  left: 224px;
  transform-origin: 80px 80px;
  transform: translate(-80px, -80px) rotate(-45deg);
}

.ribbon:hover {
  cursor: pointer;
  width: 176px;
  transform-origin: 88px 88px;
  transform: translate(-88px, -88px) rotate(-45deg);
}

.ribbon:active {
  width: 160px;
  transform-origin: 80px 80px;
  transform: translate(-80px, -80px) rotate(-45deg);
}

.ribbon img {
  filter: drop-shadow(4px 4px 4px hsla(0, 0%, 0%, .5));
}


/* Background */
.background-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

.background {
  background-image: url('assets/image/background_cat.png');
  background-size: 1280px;
  width: 200%;
  height: 200%;
  position: relative;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(-30deg);
  animation: move-background 60s linear infinite;
}

.background img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: rotate-image 90s linear infinite;
}

@keyframes rotate-image {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes move-background {
  from { background-position: 0 0; }
  to { background-position: -1280px 0; }
}


/* Stars */
.star-up {
  animation-name: star-move;
  animation-timing-function: linear;
}

@keyframes star-move {
  from { bottom: -50%; }
  to { bottom: 150%; }
}


/* Content */
.content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content img {
  width: 192px;
  position: relative;
  border: 8px solid var(--blue);
  border-radius: 50%;
  box-shadow: var(--shadow-3d);
}

.content img:hover {
  cursor: pointer;
  width: 208px;
  margin-top: -16px;
}

.content h2, .content h1 {
  text-shadow: var(--shadow-3d);
}

.content h2 {
  font-size: 2em;
}

.content h1 {
  font-size: 3em;
}


/* Gift Card Open */
.gift-card-open {
  width: 64px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.gift-card-open button {
  display: block;
  cursor: pointer;
  width: 100%;
  background-color: var(--blue);
  text-align: center;
  padding: 0;
  border: none;
  border-radius: 50%;
  position: absolute;
  bottom: 115%;
  box-shadow: var(--shadow-3d);
  transition-duration: 300ms;
}

.gift-card-open:hover button {
  bottom: 0;
}

.gift-card-open i {
  color: white;
  line-height: 64px;
  width: 100%;
}


/* Credit */
.credit {
  width: 64px;
  height: 80px;
  position: absolute;
  left: 50%;
  bottom: 0;
  overflow: hidden;
  transform: translateX(-50%);
}

.credit a {
  display: block;
  position: absolute;
  top: 115%;
  transition-duration: 300ms;
}

.credit:hover a {
  top: 0;
}

.credit img {
  background-color: var(--blue);
  width: 100%;
  border-radius: 50%;
  box-shadow: var(--shadow-3d);
}


/* Gift Card */
.gift-card {
  display: none;
  color: white;
  background-color: hsla(0, 0%, 0%, .9);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition-duration: 500ms;
}

.gift-card button {
  color: inherit;
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.gift-card button:hover {
  cursor: pointer;
  color: var(--blue);
}

.gift-card p {
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}